.app-header {
  padding: .5em 1em;
  background: white;
}

.app-header .branding {
  display: inline-block;
}

.app-header .app-header-login {
  display: inline-block;
  float: right;
}

.app-header h1 {
  text-transform: uppercase;
}
