h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', sans-serif
}

.app-header {
  padding: .5em 1em;
  background: white;
}

.app-header .branding {
  display: inline-block;
}

.app-header .app-header-login {
  display: inline-block;
  float: right;
}

.app-header h1 {
  text-transform: uppercase;
}

body {
  margin-top: 96px;
  background: url("../images/sayagata-400px.png");
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.Popover {
  z-index: 4;
}

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 2rem;
  background: white;
  border-radius: 0.3rem;
  border: 1px solid blue;
}

.Popover-tipShape {
  fill: blue;
}
