.app-header-login {

  .app-header-profile {
    display: flex;
    align-items: center;

    .app-header-profile-username {
      margin-right: 1em;
      font-size: 1.5em;
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
    }

  }

}
