<html>

  <head>
    <title>Intrepid Biped Potatogram</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <style>

      header {
        margin-bottom: 1em;
      }

      body {
        padding: 30px;
        background: #BDD5C6;
      }

      .login-form {
        width: 400px;
        margin: 0 auto;
        padding: 1em;
        border-radius: 4px;
        background: #ffffff;
      }

      h1 {
        margin: 0;
      }

      input {
        margin-bottom: 1em !important;
      }

    </style>

  </head>

  <body>

    <section class="login-form">

      <header>
        <h1>Intrepid Bicycle</h1>
        <span>Never forget how to learn</span>
      </header>

      {{#if error}}
        <p style="color: red;">{{error}}</p>
      {{/if}}

      <form class="pure-form pure-form-stacked" method="POST" action="/login">
        <fieldset>
          <legend>Login to continue</legend>

          <label for="emailAddress">Email</label>
          <input id="emailAddress" type="email" placeholder="Email">

          <label for="plaintextPassword">Password</label>
          <input id="plaintextPassword" type="password" placeholder="Password">

          <label for="remember">
            <input id="remember" type="checkbox"> Remember me
          </label>

          <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
      </form>

    </section>

  </body>

</html>
